.Overview {
    position: relative;
    display: flex;
    height: 100vh;

    .Login {
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        padding: 20px;
        border-radius: 3px;
        color: var(--text);
        background: var(--lightBackground);
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;

        &:hover {
            background: var(--lighterBackground);
        }
    }

    .Notes {
        width: 10%;
        height: 100%;

        @include phone {
            width: 100px;
        }
    }

    .SelectedNote {
        height: 100%;
    }
}